@import "../common.scss";

//section-outlet
.section-outlet{
    .section-about{
        padding:3rem;
       .intro{
            p{
                font-size:1rem;
                line-height: 1.7;  
                margin:0 0 1rem 0;          
            }
       }
       .item-container{
            @extend .d-flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap:20px;
            align-items: flex-start;
            .item{
                width:calc(50% - 20px);
                @media(max-width:1300px){
                    width:100%;
                }
                @media(max-width:1024px) {
                    width: calc(50% - 20px);
                }
                @media(max-width:900px) {
                    width: 100%;
                }
                background-color: var(--light-white-2);
                border-radius: 1rem;
                padding:2.5rem 1.5rem;
                @extend .d-flex;
                align-items: flex-start;
                margin-bottom:10px;
                &:nth-child(1),
                &:nth-child(4){
                    background-color: var(--light-white-3);                    
                }
                .icon{
                    width:46px;
                    margin-right:1rem;
                    font-size:2rem;
                    color:var(--purple);
                }
                .item-info{
                    .title{
                        font-size:1.25rem;
                        color:var(--black);
                        font-weight: 500;
                        margin-bottom:.75rem;
                    }
                    p{
                        margin:0;
                        padding:0;
                        font-size:1rem;
                        line-height:2;
                    }
                }
            }
       }
    }

    //section-blog
    .section-blog,
    .section-portfolio{
        padding:3rem;
        .item-container{
            @extend .d-flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap:15px;
            align-items: flex-start;
            .blog-card {
                display:block;
                width:calc(33% - 15px);
                @media(max-width:1365px) {
                    width: calc(50% - 15px)!important;
                }            
                @media(max-width:1024px) {
                    width: calc(50% - 15px)!important;
                }            
                @media(max-width:640px) {
                    width: 100%!important;
                }
                margin-bottom:10px;
                border-radius: 1rem;
                background-color: var(--light-white-3);
                overflow: hidden;
                .card-head{
                    @extend .d-flex;
                    width:100%;
                    height:200px;
                    position:relative;
                    overflow:hidden;
                    img{
                        display:block;
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }
                    .meta-title{
                        border-radius: 99999px;
                        background-color:var(--purple);
                        color:var(--white);
                        @extend .text-xs;
                        padding:.2rem .5rem;
                        position: absolute;
                        top:.5rem;
                        left:.5rem;
                        z-index:2;
                        cursor:pointer;
                    }
                }
                .card-body{
                    padding: 1rem;
                    .section-author{                      
                        @extend .d-flex;
                        justify-content: flex-start;
                        .author{
                            @extend .d-flex;
                            justify-content: flex-start;
                            .avatar{
                                @extend .d-flex;
                                width:30px;
                                height:30px;
                                border-radius: 100%;
                                overflow: hidden;
                                margin-right:.5rem;
                                img{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .author-name{
                                font-size:.75rem;
                            }
                        }
                        .date{
                            font-size: .75rem;
                            margin-left:1rem;
                        }
                    }
                    .card-title{
                        padding:.75rem 0;
                        h3{
                            font-size:.9rem;
                            font-weight:600;
                            color:var(--black);
                        }
                    }
                    .card-social{
                        @extend .d-flex;
                        justify-content: space-between;
                        width: 100%;
                        .item{
                            font-size:.75rem;
                            border-radius: 99999px;
                            padding:.3rem .7rem;
                            background-color:var(--light-white-4);
                            .fa{
                                font-size:1rem;
                                margin-right:.4rem;
                            }
                            &.comment{
                                margin-left:1rem;
                            }
                            &.save{
                                .fa{
                                    margin:0;
                                }
                            }
                        }
                        .like-and-share{
                            @extend .d-flex;
                            justify-content: flex-start;
                        }

                    }
                }
                
            }
        }

        .pagination{
            @extend .d-flex;
            justify-content: flex-start;
            margin-top:1rem;
            .item{
                @extend .d-flex;
                width:46px;
                height:46px;
                font-size:.85rem;
                border-radius: 100%;
                background-color:#fff;
                border:1px solid var(--border);
                cursor:pointer;
                @extend .box-shadow;
                &.active{
                    background-color:var(--theme-secondary); 
                    color: var(--white);
                }
                +.item{
                    margin-left:1rem;
                }
                .fa{
                    font-size:1.3rem;
                }
            }
        } 
        &.blogMenu{
            padding-top:0;
        }
    }

    //blog-category
    .section-inner-category{
        @extend .d-flex;
        justify-content: space-between;
        padding: 1rem 2rem 1rem 3rem;
        .inner-category {
                @extend .d-flex;
                justify-content: flex-start;
        
                a {
                    padding: 1rem 2rem;
                    position: relative;
        
                    &:after {
                        content: "/";
                        left: 100%;
                        top: 50%;
                        position: absolute;
                        transform: translateY(-50%);
                        font-size: .75rem;
                    }
        
                    &:nth-last-child(1) {
                        &:after {
                            content: "";
                        }
                    }
        
                    &.active {
                        color: var(--red);
                    }
                }
            }
            .shop-item{
                @extend .d-flex;
                justify-content: flex-end;
                .icon{
                    @extend .d-flex;
                    width:46px;
                    height:46px;
                    position:relative;
                    font-size:1.2rem;
                    +.icon{
                        margin-left:1rem;
                    }
                    .count{
                        @extend .d-flex;
                        background: linear-gradient(97deg, var(--theme-secondary) 0%, var(--red-dark) 100%);
                        width:1.25rem;
                        height:1.25rem;
                        border-radius: 100%;
                        position:absolute;
                        top:0;
                        right:0;
                        font-size:.75rem;
                        color:var(--white);
                    }
                }
            }
    }
    
    //section-portfolio
    .section-portfolio{
        .item-container{
            justify-content: flex-start;
            .blog-card{
                width:calc(33.33% - 10px);
                cursor:pointer;
                .card-head{
                   .video-icon{
                    width:50px;
                    height:50px;
                    @extend .d-flex;
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%, -50%);
                    z-index:2;
                    background-color: rgba(#1b74e4, 0.8);
                    border-radius: 100%;
                    @extend .box-shadow;
                        svg{
                            width:24px;
                        }
                   } 
                }
                .card-title{
                    padding-bottom:0!important;
                    h3{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                    }                   
                }
            }
        }
        .ph-item{
            background-color: transparent;
            border:none;
            padding:0;
            .ph-col-12{
                padding:0;
                .ph-picture{
                    height: 200px;
                }
                .ph-row{
                    padding:1rem;
                }
                &.mb-0{
                    margin-bottom:0;
                    .ph-row{
                        padding-bottom:0;
                    }
                }
            }
            .new-flex{
                flex:1;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom:0;
                .ph-avatar{
                    min-width: 40px;
                    width:40px;
                }
                .c-row{
                    width:calc(100% - 60px);
                    .ph-col-12{
                        margin-top:0;
                    }
                }
            }
        }
    }
    //section-resume
    .section-resume{
        padding:3rem;
        .section-education{
            @extend .d-flex;
            gap:15px;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            h3{
                font-size:1.5rem;
                font-weight: 400;
                color:var(--black);
                margin-bottom:1.25rem;
                span{
                    margin-right:.5rem;
                }
            }           
            .section-card{
                .card{
                    padding:1.3rem;
                    border-radius: 1rem;
                    background-color:var(--light-white-2);
                    margin-bottom:1.5rem;
                    font-size:1rem;                    
                    .card-title{
                        font-size:1.2rem;
                        font-weight: 500;
                        margin:.25rem 0;
                    }
                }
            }
            .education{
                width:calc(50% - 15px);  
                    @media(max-width:1300px) {
                        width: 100%;
                    }
                
                    @media(max-width:1024px) {
                        width: calc(50% - 15px);
                    }
                
                    @media(max-width:900px) {
                        width: 100%;
                    }
                .card{
                    &:nth-child(2){
                        background-color:var(--light-white-3);
                    }
                }              
            }
            .section-experience{
                width:calc(50% - 15px);
                    @media(max-width:1300px) {
                        width: 100%;
                    }
                
                    @media(max-width:1024px) {
                        width: calc(50% - 15px);
                    }
                
                    @media(max-width:900px) {
                        width: 100%;
                    }
                .card{
                    background-color:var(--light-white-3);
                    &:nth-child(2){
                        background-color:var(--light-white-2);
                    }
                } 
            }
        }
    }
    .section-skills{
        padding:4rem 3rem 3rem;
        background-color:var(--light-white-2);
        h3{
            font-size:1.5rem;
            font-weight: 400;
            color:var(--black);
            margin-bottom:1.5rem;
        }
        .section-card{
            @extend .d-flex;
            justify-content: space-between;
            align-items: flex-start;
            gap:15px;
            @media(max-width:1300px) {
                flex-direction: column;
            }        
            @media(max-width:1024px) {
                flex-direction: row;
            }        
            @media(max-width:900px) {
                flex-direction: column;
            }
            .skills{
                width:calc(50% - 15px);
                @media(max-width:1300px) {
                    width: 100%;
                }
            
                @media(max-width:1024px) {
                    width: calc(50% - 15px);
                }
            
                @media(max-width:900px) {
                    width: 100%;
                }
                .skills-progressbar{
                    @extend .d-flex;
                    justify-content: space-between;
                    position: relative;
                    padding-bottom:.85rem;
                    margin-bottom:2rem;
                    &:after,
                    &:before{
                        content:"";
                        position:absolute;
                        bottom:0;
                        left:0;
                        width:100%;
                        height:5px;
                        border-radius: 9999px;
                        background-color:var(--progress-bg);
                        z-index:1;
                    }
                    &.design{
                        &:before{
                            background-color:var(--red);
                            width:85%;
                            z-index:2;
                        }
                    }
                    &.app{
                        &:before{
                            background-color:var(--theme-primary);
                            width:75%;
                            z-index:2;
                        }
                    }
                    &.illustrator{
                        &:before{
                            background-color:var(--purple);
                            width:85%;
                            z-index:2;
                        }
                    }
                    &.photoshop{
                        &:before{
                            background-color:var(--purple-dark);
                            width:55%;
                            z-index:2;
                        }
                    }
                    
                }
            }
            .knowledge{
                width:calc(50% - 15px);
                @media(max-width:1300px) {
                    width: 100%;
                }
            
                @media(max-width:1024px) {
                    width: calc(50% - 15px);
                }
            
                @media(max-width:900px) {
                    width: 100%;
                }
                .section-knowledge{
                    @extend .d-flex;
                    flex-wrap: wrap;
                    gap:15px;
                    justify-content: flex-start;
                    .item{
                        background-color: var(--light-white-4);
                        border-radius: .5rem;
                        padding:.5rem 1rem;
                    }
                }
            }
        }
    }
}

// section-contact
    .section-contact{
        padding:3rem;
        .item-container{
            background-color:var(--light-white-4);
            padding:3rem 2.5rem;
            border-radius: 1rem;
            h4{
                @extend .text-xxl;
                font-weight: 400;
                margin-bottom:1rem;
            }
            h3{
                @extend .text-xxl;
                font-weight: 600;
                color:var(--black);
                margin:0;
            }
        }
        form{
            margin:2.85rem 0 0;
            padding:0;
            .input-container{
                display:block;
                margin-bottom:1.5rem;
                label{
                    font-size:1rem;
                    display: inline-block;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin-bottom:.5rem;
                    position:relative;
                }
                input,textarea{
                    display:block;
                    width:100%;
                    border:none;
                    padding:.2rem;
                    background-color: transparent;
                    &:focus,
                    &:hover{
                        outline:none;
                    }
                }
                input{
                    height:35px;
                    border-bottom:1px solid #b5b5b5;
                }
                textarea{
                    height:35px;
                    border-bottom:1px solid #b5b5b5;
                }
            }
            .form-submit{
                @extend .d-flex;
                border:1px solid #b5b5b5;
                padding:1rem 3rem;
                border-radius: .5rem;
                background-color:transparent;
                cursor:pointer;
                margin-top:2rem;
                font-size:1rem;
                font-weight: 500;
                transition: all .2s ease-in-out;
                &:hover{
                    background:linear-gradient(97deg, var(--theme-secondary) 0%, var(--red-dark) 100%);
                    color:var(--white);
                }
            }
        }
    }

    // section 404
    .section-404 {
        padding: 3rem;
        text-align: center;
        h2{
            font-family: $robotoslab;
            font-size:5rem;
            font-weight: 400;       
        }
        h3{
            font-size:2rem;
        }
        p{
            font-size:.75rem;
        }
        .four-zero-four-bg {  
            height: 400px;
        }
        .link-404{
                color:var(--white);
                padding:.75rem 1.5rem;
                background: linear-gradient(97deg, var(--theme-secondary) 0%, var(--red-dark) 100%);
                margin: 1.5rem 0;
                display: inline-block;
                font-size:.85rem;
                border-radius: .5rem;
        }
    }

    //section login
    .section-login,
    .section-register{
        padding:4rem 3rem;
        @extend .d-flex;
        flex-direction: column;
        height:30rem;
        h2 {
                text-align: center;
                margin-bottom:1.5rem;
                text-transform: uppercase;
            }
        .card {
                max-width:400px;
                width:90%;
                background-color:var(--light-white-4);
                padding: 1.5rem;
                border-radius:.85rem;
                @extend .box-shadow;
                .label{
                    text-align: center;
                    margin:1rem 0 0;
                    font-size:1rem;   
                    a{
                        background: linear-gradient(97deg, var(--theme-secondary) 0%, var(--red-dark) 100%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 600;
                    }   
                }
            }
            form {
                display: flex;
                flex-direction: column;
            }
        
            input {
                padding: .75rem;
                margin-bottom: .85rem;
                border: 2px solid var(--border);
                border-radius: .5rem;
                transition: border-color 0.3s ease-in-out;
                outline: none;
                background-color:transparent;
            }
        
            input:focus {
                border-color: var(--red-dark);
            }
        
            button {
                background: linear-gradient(97deg, var(--theme-secondary) 0%, var(--red-dark) 100%);
                color:var(--white);
                height:3rem;
                padding: 10px;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                font-size:1rem;
            }
        
            button:hover {
                background-color: var(--red-dark);
            }
    }

//section-product
.section-product{
    &.productMenu{
        padding-top: 0;
    }
}

//section-product-list
.section-product-list{
    padding:.5rem 3rem 3rem;
    @extend .d-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:100%;
    gap:15px;
    .product-link{
        width:calc(33.33% - 10px);
        @extend .box-shadow;
        @media(max-width:1200px){
            width: calc(50% - 10px);
        }
        background-color:var(--white);
        position:relative;
        border-radius: .5rem;
        overflow: hidden;
        margin-bottom:.85rem;
        .product-card{
            width:100%;
            .product-image{
                @extend .d-flex;
                padding: 20px 30px;
                img{
                    display:block;
                    max-width:100%;
                    width:220px;
                    margin:0 auto;
                }
            }
            .product-item-details{
                .product-discount{
                    background-color: var(--light-white-4);
                    padding: .5rem 1rem;
                    font-size:.75rem;
                    text-align: center;
                    font-weight: 500;
                }
                .product-details{
                    padding: 1rem;
                    .product-price{
                        @extend .d-flex;
                        justify-content: space-between;
                        width:100%;
                        margin-bottom: .4rem;
                        .price{
                            @extend .d-flex;
                            justify-content: flex-start;
                            font-size: .85rem;
                            .new-price{
                                font-weight: 600;
                                color:var(--red-dark);
                            }
                            .old-price{
                                text-decoration: line-through;
                                margin-left:.5rem;
                                color:var(--red-muted);
                            }
                            .currency{
                                margin-right:.1rem;
                                font-size:1rem;
                            }
                        }
                        .review{
                            font-size: .85rem;
                            @extend .d-flex;
                            justify-content: flex-end;
                            color: var(--body-text);
                            .stars{
                                @extend .d-flex;
                                justify-content: flex-start;
                                position:relative;
                                margin-right:1rem;
                                &:after {
                                        content: "";
                                        top: 50%;
                                        right: -.6rem;
                                        transform: translateY(-50%);
                                        position: absolute;
                                        width: 1px;
                                        height: 70%;
                                        background-color: var(--body-text);
                                        opacity:.5;
                                }
                                .fa{
                                    margin-left:.2rem;
                                    color:var(--yellow);
                                    font-size: .75rem;
                                    position: relative;
                                    top:-1px;
                                }
                            }
                            .count{                                
                                font-size: .75rem;
                            }
                        }
                    }
                    .product-name{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 1;
                        color:var(--body-text);
                        font-size:.75rem;
                    }
                }
            }
        }
        .wishlist{
            position:absolute;
            top:0;
            right:0;
            width:46px;
            height:46px;
            @extend .d-flex;
            font-size:1.2rem;
            color:var(--body-text);
            z-index:2;
            cursor:pointer;
            .fa-heart{
                color: var(--theme-secondary);
            }
        }
    }
}

//section-product-details
.product-section{
    padding: .5rem 3rem 3rem;
}
.section-product-details {   
    @extend .d-flex;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    @media(max-width:1024px){
        flex-direction: column;
    }
    .product-slider{
        width:50%;
        overflow: hidden;  
        @extend .d-flex;
        flex-direction: column;
        @media(max-width:1024px){
            width:100%;
        }
        .big-image{
            @extend .d-flex;
            width:100%;
            img{
                display:block;
                width:100%;
            }
        }
        .slider-container{           
            margin-top:.5rem;           
            width:80%;
            @media(max-width:1024px){
                width:100%;
            }
            .thumb-item{
                @extend .d-flex; 
                overflow: hidden;
                cursor:pointer;
                //padding:.5rem;
                img{
                    display:block;
                    width: 60px;
                    height: 60px;
                    margin:auto;
                    border: 1px solid var(--border);
                    border-radius: .5rem;
                }
                +.thumb-item{
                    margin-left:.5rem;
                }
            }            
        }
    }
    .section-product-info{
        width:calc(50% - 1.5rem);
        @media(max-width:1024px) {
            width: 100%;
        }
        .product-title{
            font-size:1.4rem;
            @extend .clamp;
            font-weight: 500;
            margin-bottom:1rem;
        }
        .social-section{
            @extend .d-flex;
            justify-content: space-between;
            margin-bottom:1rem;
            .review{
                @extend .d-flex;
                justify-content: flex-start;
                background-color: var(--light-white-4);
                border-radius: 99999px;
                padding:.3rem .75rem;
                @extend .box-shadow;
                .stars{
                    @extend .d-flex;
                    justify-content: flex-start;
                    span{
                        font-size:.75rem;
                    }
                    .fa{
                        font-size: .75rem;
                        position:relative;
                        top:-1px;
                        color:var(--yellow);
                        margin-left:.2rem;
                    }
                }
                .count{
                    font-size: .75rem;
                    margin-left:1rem;
                    position:relative;
                    &:before{
                        content:"";
                        position: absolute;
                        width:1px;
                        height: 70%;
                        background-color: var(--body-text);
                        opacity:.5;
                        left:-.5rem;
                        top:50%;
                        transform:translateY(-50%);
                    }
                }
            }
            .wishlist{
                width:30px;
                height:30px;
                font-size:.85rem;
                border-radius: .5rem;
                @extend .d-flex;
                background-color: var(--light-white-4);
                @extend .box-shadow;
                cursor: pointer;
            }
        }
        .product-label{
            margin-bottom:.3rem;
            p{
                clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
                background-color: var(--yellow);
                display: inline-block;
                padding: .1rem 1rem .1rem .75rem;
                font-size: .75rem;
                @extend .box-shadow;
                margin:0;
            }
        }
        .price-section{
            margin-bottom:.1rem;
            .price{
                @extend .d-flex;
                justify-content: flex-start;
                font-size:1.5rem;
                .new-price{
                    color:var(--red-dark);
                    font-weight: 500;
                }
                .old-price{
                    color:var(--red-muted);
                    text-decoration: line-through;
                    margin-left:.5rem;
                    font-size:1.2rem;
                }
            }
        }
        .offer-section{
            margin-bottom:1rem;
            p{
                @extend .gradient;
                display:inline-block;
                color:var(--white);
                padding:.1rem .5rem;
                font-size:.75rem;
            }
        }





    }
}