@import "../../common.scss";
//all Posts
.allPosts{
    display:block;
    width:100%;      
}
h3 {
    font-size: 1rem;
    margin: 2rem 0 1rem 0;
}
.edit {
    color: var(--theme-primary);
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.delete {
    color: var(--theme-secondary);
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

//Add Post