@import "../component.scss";

.admin-nav{
    display:block;  
    padding:2rem 0; 
    height: 100%;
    overflow: hidden;
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
        width: 100%;        
        li{
            font-size:1rem;                     
            @extend .d-flex;
            //justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;              
            margin-bottom:1rem;
            background-color: var(--border);
            .mainMenu{
                width:100%;
                padding:1rem 2rem;     
                cursor: pointer;           
            }
                  
            .subMenu{
                display:block;
                width:100%; 
                a{
                    font-size:.85rem;
                    padding:1rem 1rem 1rem 3rem;
                    display:block;
                    cursor: pointer;
                }
            }
        }
    }
}